{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Vaga{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cadastrar Nova Vaga</h1>

            {% if msg_erro %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-danger" role="alert">
                    {{ msg_erro }}
                </div>
            {% endif %}

            <form action="/cadastrar_vaga" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título da Vaga</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                    <div class="valid-feedback">
                        Parece Bom!
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição da Vaga</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Parece Bom!
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formato" class="form-label">Formato de Trabalho</label>
                    <select class="form-select" id="formato" name="formato" required>
                        <option value="">Escolha uma opção...</option>
                        <option value="Presencial">Presencial</option>
                        <option value="Remoto">Remoto</option>
                        <option value="Híbrido">Híbrido</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo de Contrato</label>
                    <select class="form-select" id="tipo" name="tipo" required>
                        <option value="">Escolha uma opção...</option>
                        <option value="CLT">CLT</option>
                        <option value="PJ">PJ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="local" class="form-label">Local da Vaga</label>
                    <input type="text" class="form-control" id="local" name="local">
                    <div class="valid-feedback">
                        Parece Bom!
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="salario" class="form-label">Salário</label>
                    <input type="text" class="form-control" id="salario" name="salario" required>
                    <div class="valid-feedback">
                        Parece Bom!
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado!
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Cadastrar Vaga</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script do BS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"></script>

<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<!-- Link do Input Mask -->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>

<!-- Script de conifguração do Input Mask -->
<script>
    Inputmask("numeric", {
        radixpoint: ",",
        groupSeparator: ".",
        digits: 2,
        autogroup: true,
        rightAlign: false,
        allowMinus: false,
        prefix: "R$ "
     }).mask(document.getElementById("salario"))
</script>

{% endblock %}