{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

{% if login == 'empresa' %}
<div class="container text-center align-items-center">
    <div class="row">
        <div class="col-12">
            <h1 style="font-size: 45px;"">Bem-vindo ao EmpreGO!</h1>
                <p>A melhor opção para contratar!</p>
            </div>
        </div>
    
    <a href=" /cadastrar_vaga" class="btn btn-success">Cadastrar Vaga</a>
</div>

{% else %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 style="font-size: 45px;"">Bem-vindo ao EmpreGO!</h1>
            <p>As melhores oportunidades aqui!</p>
        </div>
<hr>
<div class=" col-12 text-center">
    <div>
        <img  class="my-2" style="width: 100%; height: 30%;" src="../static/img/emprego.png" alt="">
    </div>

</div>

<hr>

<div class="col-12">
    <h3>DESCUBRA NOVAS VAGAS PARA A ÁREA DE TECNOLGIA E INFORMAÇÃO</h3>
</div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="fs-2">Encontre as melhores vagas!</h1>
            <p>Aqui você encontra as vagas mais recentes das melhores empresas.</p>
        </div>
    </div>

<div class="col-12 text-center my-4">
    <h3>PRINCINPAIS VAGAS</h3>
</div>

<div class="row mt-4">

{% for vaga in vagas %}
    <div class="col-12 col-md-6 col-lg-4">
    {% include 'card.html' %}
    </div>
{% endfor %}
</div>

</div>

{% endif %}
{% endblock %}